# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
*.pidb
*.VisualState.xml
*.suo
*.csproj.user
*.vsp
*.app.ctl
*.krn.ctl
*.psess
*/TestResult.xml
*/[oO]bj
*/[bB]in
libs/*/obj
libs/*/bin
bin
obj
Debug
Release

# mstest test results
TestResults
.psess
.vsp

# OpenGPG security
OSMImporter/jod-test-pubring.gpg
OSMImporter/jod-test-secring.gpg
OSMImporter/jod-test-passphrase.txt
OSMImporter/jod-official-pubring.gpg
OSMImporter/jod-official-secring.gpg
OSMImporter/jod-official-passphrase.txt
