[submodule "libs/Illias"]
	path = libs/Illias
	url = git@github.com:Vanaheimr/Illias.git
[submodule "libs/Styx"]
	path = libs/Styx
	url = git@github.com:Vanaheimr/Styx.git
[submodule "libs/Hermod"]
	path = libs/Hermod
	url = git@github.com:Vanaheimr/Hermod.git
[submodule "libs/bouncycastle"]
	path = libs/bouncycastle
	url = https://github.com/Vanaheimr/bc-csharp.git
